@import "~react-toolbox/lib/globals";

:global #root {
	height: 100%;
}

.center_panel {
	margin: 7rem auto 0 auto;
	width: 100%;
}

.center_title {
	//text-align: center;
	position: fixed;
	width: 100%;
}

.center_div_content {
	text-align: center;
}

.page_title {
	font-size: 20px;
	margin-bottom: 5px;
	display: inline-block;
}

.card_style {
 	width: "300px";
  margin-bottom: "15px"
 }

 .spacer {
	 margin-top: 20px;
 }

 .action_button {
	 margin-top: 20px;
	 text-align: center;
 }

 .notes_header {
	 font-size: 16px;
	 margin-top: 5px;
	 text-decoration: underline;
 }

 .section_header {
	 font-size: 16px;
	 margin-top: 5px;
 }

 .notes_content {
	 font-size: 14px;
	 margin-top: 5px;
 }

 .hide_me {
	 display: none;
 }

 .show_me {
	 display: block;
 }

 .action_button {
	 text-align: center;
	 margin-top: 10px;
 }

 .submit_button {
	 text-align: center;
	 margin-top: 20px;
 }

.log_entry {
	padding: 5px;
  position: relative;
  overflow: hidden;
}

.log_entry:hover {
	background-color: #E6E6E6;
}

.custom_list_item:hover {
	background-color: #E6E6E6;
}

.log_entry_title {
	font-size: 1.2rem;
  color: #212121;
}

.log_entry_subtitle {
	padding-top: 0.3rem;
  font-size: 1.2rem;
  color: #757575;
  white-space: normal;
}

.back_button {
	width: 40px;
}

.log_entry:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform .5s, opacity 1s;
}
.log_entry:active:after {
  transform: scale(0, 0);
  opacity: .2;
  transition: 0s;
}

.error_msg {
	color: red;
}

.drop_zone {
	color: white;
	width: 200px;
	height: 100px;
	margin: 0 auto;
	text-align: center;
}

.drop_zone_inner {
	background-color: #3F51B5;
	padding: 5px;
}

.small_width_format {
	max-width: 360px;
	margin: 0 auto;
}

.medium_width_format {
	max-width: 600px;
	margin: 0 auto;
}

.large_width_format {
	max-width: 1200px;
	margin: 0 auto;
}

.coach_chat_block {
	background-color: #efeded;
	margin-top: 10px;
	padding:10px;
  content: "";
  display: table;
  clear: both;
}

.client_chat_block {
	background-color: #white;
	margin-top:10px;
	padding:10px;
  content: "";
  display: table;
  clear: both;
}
