.content {
  flex-grow: 1;
  position: relative;
}

.caption {
  display: block;
  position: relative;
}

.badge {
  right: 0;
  top: 0;
  display: inline-block;
  width: 18px;
  height: 18px;
  line-height: 18px;
  border-radius: 50px;
  background-color: #aaa;
  color: #fafafa;
  text-align: center;
  font-size: 11px;
  float: right;
  margin-left: 5px;

}

.flag {
  right: 0;
  top: 0;
  display: inline-block;
  width: 18px;
  height: 18px;
  line-height: 18px;
  border-radius: 50px;
  color: red;
  text-align: center;
  font-size: 13px;
  float: right;
  margin-left: 5px;
  margin-right: 5px;

}

.legend {
  display: block;
  padding-top: .3rem;
  font-size: 1.4rem;
  color: #757575;
  white-space: normal;
}
