doctype html
html(lang="en")
  head
    title Coach Co
    meta(name="description", content="A tool for letting coaches and clients communicate")
    meta(name="author", content="New View Analytics")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="viewport", content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width")
    meta(name="viewport", content="initial-scale=1.0,user-scalable=no,maximum-scale=1",
        media="(device-height: 568px)")
    meta(name="apple-mobile-web-app-title", content="Material Console")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")
    meta(name="format-detection", content="telephone=no")
    meta(name="HandheldFriendly", content="True")
    meta(http-equiv="cleartype", content="on")

    link(rel="stylesheet", href="//fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700")
    link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,500,600,700")
    link(rel="stylesheet", href="/static/styles.css")
    link(rel="shortcut icon", href="./favicon.ico")
  body
    #root
    script(type="text/javascript" data-initial-state=JSON.stringify(initialState)).
      window.INITIAL_STATE = JSON.parse(
        document.querySelector("script[data-initial-state]").getAttribute("data-initial-state")
      );
    script(type="text/javascript", src="https://cdn.polyfill.io/v2/polyfill.min.js")
    script(type="text/javascript", src="/static/js/bundle.js")
