.main_panel {
	margin-top: 30px;
}

.main_options_outline {
	-webkit-box-shadow: 2px 3px 23px -1px rgba(187,187,187,1);
	-moz-box-shadow: 2px 3px 23px -1px rgba(187,187,187,1);
	box-shadow: 2px 3px 23px -1px rgba(187,187,187,1);	
	width: 300px;
	margin: 0 auto;
	margin-bottom: 10px;
	padding: 10px;
}

.main_options_button {
	width: 150px;
	margin :0 auto;
	margin-top: 5px;
	text-align: center;	
}

.register_input_fields {
	width: 300px;
	margin :0 auto;
	margin-top: 5px;
}