@import "~react-toolbox/lib/globals";

.appBar {
	width: 100%;
	@media(min-width: $layout-breakpoint-sm) {
		width: calc(100% - 320px);
	}
}
.leftIcon {
	@media(min-width: $layout-breakpoint-sm) {
		display: none;
	}
}
